body {
    color: white;
    background-color: rgb(82, 82, 82);
}

p {
    padding: 0.2rem;
}

.bg-white {
    background-color: white;
    color: rgb(44, 44, 44);
    width: fit-content;
}

.bg-dark {
    background-color: rgb(37, 37, 37);
    color: rgb(252, 252, 252);
    width: fit-content;
}